body{
background: #b3c1c4;
background: linear-gradient(90deg, rgba(179, 193, 196, 1) 0%, rgba(21, 43, 46, 1) 100%);
}

h1{
color: #080c0c;
font-size: 55px;
text-align: center;

}


h1:hover{
transform: scale(1.5);
transition: 1.5s;
opacity: 0;


}

h2{
font-size: 45px;
position: relative;
text-align: center;
}
p{
font-size: 40px;

}



h2:hover{
transform: scale(1.5);
transition: 2s;
opacity: 0;

}
article{
text-align: center;
position: relative;
font-size: 35px


}


h3{
font-size: 45px;
position: relative;
text-align: center;

}

h4{
font-size: 45px;
text-decoration: underline;

}



div{
font-size: 40px;


}

h5{
font-size: 45px;
text-decoration: underline;
text-align: center;

}

a{
font-size: 35px;
}

h6{
color: blue;
font-size: 35px;
text-align: left;

}
